# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code settings
.vscode/

# Environment variables
.env

# Mac system files
.DS_Store

# pyenv
.python-version
